  <footer>
    <div class="footer">
      <div class="row">
        <div class="col-lg-3" style="text-align:left; padding:0 0 0 5%; color:white">
          <p style="font-size: 20px"><strong>HuongNghiepVTA</strong></p>
          <ul style="padding:0; list-style-type:none">
            <li><i class="fa fa-facebook-square" style="color:white">
              <a target="_blank" rel="noopener noreferrer" href="https://www.facebook.com/HuongNghiepVTA" style="color: white">
                 <strong>Facebook</strong></a></i></li>
            <li><i class="fa fa-envelope-square">
              <a class="mail-link" href="mailto:vothaianvmd2015@gmail.com" style="color: white">E-mail</a></i></li>
            <p style="padding:0">Publish date: April 25<sup>th</sup>, 2019</p>
          </ul>

        </div>
        <div class="col-lg-3" style="text-align:left;padding:0">


          <p class="phase" style="margin:0">Trang được thiết kế nhằm hỗ trợ các em học sinh định hướng chọn nghề, nội dung được tổng hợp từ nhiều nguồn tài liệu tham khảo.
            Mọi ý kiến góp ý xin gởi về email
            <a class="mail-link" href="mailto:vothaianvmd2015@gmail.com" style="color: white"><strong>vothaianvmd2015@gmail.com</strong></a>
            </p>
        </div>
      </div>

    </div>
  </footer>
