<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="/">HuongnghiepVTA</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav mr-auto">

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Trắc nghiệm
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="/test1">John Holland</a>
          <a class="dropdown-item" href="/test2">Sở thích nghề nghiệp </a>
          <a class="dropdown-item" href="/test3">Sở thích Holland</a>
          <a class="dropdown-item" href="/test4">Nghề nghiệp tương lai của bạn</a>
          <a class="dropdown-item" href="/test5">Tính cách MBTI</a>
          <a class="dropdown-item" href="/test6">Nghề nghiệp MBTI</a>
          <a class="dropdown-item" href="/test7">Big Five</a>
          <a class="dropdown-item" href="/test8">Tính cách Enneagram</a>
          <a class="dropdown-item" href="/test9">DISC</a>
          <a class="dropdown-item" href="/test10">Tính Cách DISC</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/career-group">Mô tả ngành</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/60university">60 Trường đại học</a>
      </li>
    </ul>
    <ul class="navbar-nav">
      <li class="nav-item navbar-brand"><i class="fa fa-eye" style="font-size:24px"></i> <%= views %></li>
    </ul>
  </div>

</nav>
