<%- include("partials/header") -%>
<body>
  <%- include("partials/navbar") -%>

<div class="content"  style="padding: 4% 0 !important">
  <a href="/test1" ><h3>Trắc nghiệm John Holland</h3></a>
  <p>Tác giả: Phoenix Ho, Khuong Le, Uyen Dang. Dựa trên mô hình của tiến sỹ tâm lý John Holland (người Mỹ): Trắc nghiệm Holland (hay còn gọi là trắc nghiệm sở thích Holland) được phát triển bởi tiến sĩ tâm lý học người Mỹ – John Holland. Tại Việt Nam, bài trắc nghiệm này còn khá mới nhưng cũng đang được áp dụng rộng rãi trong công tác hướng nghiệp.</p>
  <a href="/test2"><h3>Trắc nghiệp về sở thích nghề nghiệp dành cho học sinh phổ thông</h3> </a>
  <p>Theo nhóm tác giả của “Hướng nghiệp học đường”. Bài trắc nghiệm này nhằm mục đích định hướng cho người làm các nghề nghiệp theo sở thích phù hợp với bản thân.</p>
  <a href="/test3"><h3>Trắc nghiệm sở thích Holland</h3> </a>
  <p>Tác giả: Th.S Trần Thị Thúy Lan và C.N Lê Thị Hương Giang (Đại Học RMIT Việt Nam) <br>
    Bài trắc nghiệm này nhằm mục đích đưa ra tính cách, sở thích để lựa chọn nghề nghiệp phù hợp bản thân.
</p>
  <a href="/test4"><h3>Trắc nghiệm nghề nghiệp tương lai của bạn</h3> </a>
  <p>Bài trắc nghiệm này giúp khám phá khả năng nổi trội tiềm ẩn trong mỗi cá nhân, từ đó con có thể chọn lựa công việc hay môi trường làm việc phù hợp với sở thích của mỗi người.</p>
  <a href="/test5"><h3>Trắc nghiệm tính cách MBTI</h3> </a>
  <p>Bài trắc nghiệm do hai mẹ con nhà Briggs (người Mỹ). Đây là một phương pháp sử dụng những câu hỏi nhằm kiểm tra tâm lí, tính cách của một người trên cơ sở đáp án mà người đó chọn đối với vấn đề được đặt ra. Trắc nghiệm tính cách MBTI đặc biệt nhấn mạnh vào sự khác biệt về mặt tự nhiên của từng người dựa trên tứng câu trả lời của họ cho các câu hỏi để suy ra những cá tính, tính cách riêng biệt của từng người.
</p>
  <a href="/test6"><h3>Trắc nghiệm nghề nghiệp MBTI </h3> </a>
  <p>Trắc nghiệm MBTI (bài trắc nghiệm do hai mẹ con nhà Briggs (người Mỹ) phát triển nhằm tìm hiểu tâm lý, và nhận biết cách con người tương tác, cảm nhận thế giới xung quanh, hay đưa ra quyết định cho một vấn đề nào đó) Bài trắc nghiệm này sử dụng những câu hỏi nhằm kiểm tra tâm lí, tính cách của một người trên cơ sở đáp án mà người đó chọn đối với vấn đề được đặt ra. Trắc nghiệm tính cách MBTI đặc biệt nhấn mạnh vào sự khác biệt về mặt tự nhiên của từng người dựa trên tứng câu trả lời của họ cho các câu hỏi để suy ra những cá tính, tính cách riêng biệt của từng người.</p>
  <a href="/test7"><h3>Trắc nghiệm Big Five</h3> </a>
  <p>Bài trắc nghiệm giúp người làm dựa trên kết quả trắc nghiệm để xác định xem tính cách của mình có phù hợp cho một công việc hay ngành nghề nào đó hay không. Bạn hoàn toàn có thể dùng Big Five để kiểm tra xem trong một môi trường làm việc với những đặc điểm nhất định thì liệu tính cách của mình có thể thích nghi được hay không.</p>
  <a href="/test8"><h3>Trắc nghiệm tính cách Enneagram</h3> </a>
  <p>Bài trắc nghiệm tổng hợp từ nhiều học thuyết về tâm lý học và triết học trên thế giới. Mục đích của bài trắc nghiệm này là để đưa ra sự đánh giá hai chiều giữa tính cách sẵn có và tác động bên ngoài.</p>
  <a href="/test9"><h3>Trắc nghiệm DISC</h3> </a>
  <p>Tác giả của Trắc nghiệm DISC là nhà tâm lý học William Moulton Marston - còn được biết dưới cái tên Charles Moulton. Bài kiểm tra DISC là một loại trắc nghiệm dùng để đánh giá hành vi cá nhân tập trung vào bốn đặc điểm tính cách nổi bật con người trong một khoảng thời gian nhất định. Giúp bạn hiểu rõ bản thân mình hơn. Cải thiện các mối quan hệ làm việc bằng cách tiếp thu nhu cầu giao tiếp giữa các thành viên trong nhóm. Tạo điều kiện làm việc theo nhóm tốt hơn và hạn chế xung đột</p>
  <a href="/test10"><h3>Trắc Nghiệm Tính Cách DISC</h3> </a>
  <p>Tác giả của Trắc nghiệm DISC là nhà tâm lý học William Moulton Marston - còn được biết dưới cái tên Charles Moulton. Bài kiểm tra DISC là một loại trắc nghiệm dùng để đánh giá hành vi cá nhân tập trung vào bốn đặc điểm tính cách nổi bật con người trong một khoảng thời gian nhất định. Giúp bạn hiểu rõ bản thân mình hơn. Cải thiện các mối quan hệ làm việc bằng cách tiếp thu nhu cầu giao tiếp giữa các thành viên trong nhóm. Tạo điều kiện làm việc theo nhóm tốt hơn và hạn chế xung đột</p>
</div>

<%- include("partials/footer") -%>
</body>
</html>
